# SMTP Configuration for Kuzuri Escapades
SMTP_HOST=mail.kuzuri-escapades.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=Kuzuri Escapades
SMTP_FROM_EMAIL=info@kuzuri-escapades.com
SMTP_TO_EMAIL=info@kuzuri-escapades.com
