# SMTP Configuration for Kuzuri Escapades
SMTP_HOST=mail.kuzuri-escapades.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=Kuzuri Escapades
SMTP_FROM_EMAIL=info@kuzuri-escapades.com
SMTP_TO_EMAIL=info@kuzuri-escapades.com

# Pesapal Configuration (LIVE PRODUCTION)
PESAPAL_CONSUMER_KEY=2ZaHFEyUrkJLTirCtpiZbPIUK+zgGedj
PESAPAL_CONSUMER_SECRET=0jPZrbbpf6XQLOA7QjhHh0/Zw/k=
PESAPAL_BASE_URL=https://pay.pesapal.com/v3/api
PESAPAL_IPN_URL=https://kuzuri-escapades.com/api/pesapal/ipn
PESAPAL_CALLBACK_URL=https://kuzuri-escapades.com/pay
